<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Symfony Documentation Translation Tool</title>

    <link href="{{ asset('/bundles/darktranslation/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/darktranslation/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/darktranslation/css/editor.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/darktranslation/css/topbar.css') }}" rel="stylesheet">
</head>

<body>

<div class="navbar topbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('list') }}">Documentation</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="{{ path('list') }}">Translation</a></li>
                    <li><a href="{{ path('docs') }}">Documentation</a></li>
                    <li><a href="http://symfony.com">Symfony.com</a></li>
                </ul>
                {% block add_menu %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block body %}{% endblock %}

<script src="{{ asset('/bundles/darktranslation/js/jquery.min.js') }}"></script>
<script src="{{ asset('/bundles/darktranslation/js/bootstrap.min.js') }}"></script>

{% block js %}{% endblock %}

<script type="text/javascript">
    $(function() {
        $('#myModal').modal({'show': false});
    })
</script>

</body>
</html>
