<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Symfony Documentation Translation Tool</title>

    <link href="{{ asset('/bundles/darktranslation/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/darktranslation/css/editor.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/darktranslation/css/bootstrap-responsive.css') }}" rel="stylesheet">
</head>

<body>

<div class="navbar topbar">
    <div class="navbar-inner">
        <div class="container" style="width: 900px;">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('docs') }}">Documentation</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="{{ path('list') }}">Translation</a></li>
                    <li><a href="{{ path('docs') }}">Documentation</a></li>
                    <li><a data-toggle="modal" href="#myModal">About</a></li>
                    <li><a href="http://symfony.com">Symfony.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% block body %}{% endblock %}

<script src="{{ asset('/bundles/darktranslation/js/jquery.min.js') }}"></script>
<script src="{{ asset('/bundles/darktranslation/js/bootstrap.min.js') }}"></script>

{% block js %}{% endblock %}

<script type="text/javascript">
    $(function() {
        $('#myModal').modal({'show': false});
    })
</script>

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Symfony Documentation Translation Tool</h3>
    </div>
    <div class="modal-body">
        <p>all work done by <a href="http://github.com/cursedcoder">Dark</a> | <a href="http://github.com/cursedcoder/DarkTranslationBundle">GH Repo</a></p>
    </div>
</div>

</body>
</html>
