{% extends 'DarkTranslationBundle::layout.html.twig' %}
{% set path = app.request.get('path') %}
{% block add_menu %}
<div class="span3 process">
    <div class="progress progress-inversed">
        <div class="bar bar-percents" style="width: 0%">
            <i class="info">~<i class="translated">0</i>% translated</i>
        </div>
    </div>
</div>

<ul class="nav pull-right">
    <li><a href="{{ path('show', { 'path': path }) }}"><i class="icon-eye-open"></i> View html</a></li>
    <li><a href="#" class="save"><i class="icon-ok"></i> Save File</a></li>
    <li><a href="javascript:history.go(-1)"><i class="icon-backward"></i> Back to list</a></li>
</ul>
{% endblock %}
{% block body %}

<div class="container editor">
    <form method="POST" action="{{ path('save', { 'path': path }) }}" class="data">
        <div class="left span6">
            <textarea wrap="off" name="data" class="window first">{{ editor.result }}</textarea>
        </div>

        <div class="span1 center">
            <table>
                <tr>
                    <td><ul class="left lines"></ul></td>
                    <td><ul class="right lines"></ul></td>
                </tr>
            </table>
        </div>

        <div class="right span6">
            <textarea wrap="off" class="window second">{{ editor.source }}</textarea>
        </div>
    </form>
</div>


{% endblock %}

{% block js %}
<script src="{{ asset('/bundles/darktranslation/js/typing.js') }}"></script>
<script type="text/javascript">
    $(function() {

        $('div.topbar').css('width', '1306px');

        $('a.save').bind('click', function() {
            $('form.data').submit();
        });

        $('textarea.first').scroll(function() {
            percent = ($(this).scrollTop() / ($(this)[0].scrollHeight - $(this).height())).toFixed(2);
            scrollSecond = Math.round(percent * ($('.second')[0].scrollHeight - $('.second').height()));

            $('.second').scrollTop(scrollSecond);
            $('ul.left').scrollTop($(this).scrollTop());
        });

        $('textarea.second').scroll(function() {
            percent = ($(this).scrollTop() / ($(this)[0].scrollHeight - $(this).height())).toFixed(2);
            scrollFirst = Math.round(percent * ($('.first')[0].scrollHeight - $('.first').height()));

            $('.first').scrollTop(scrollFirst);
            $('ul.right').scrollTop($(this).scrollTop());
        });

        calculate = function() {

            $("ul.left").html('');
            $("ul.right").html('');

            firstCount = $("textarea.first").val().split("\n").length;
            secondCount = $("textarea.second").val().split("\n").length;

            for (i = 1; i <= firstCount; i++) {
                $("ul.left").append("<li>" + i + "</li>");
            }

            for (i = 1; i <= secondCount; i++) {
                $("ul.right").append("<li>" + i + "</li>");
            }

            firstLines = $("textarea.first").val().split("\n").length;
            secondLines = $("textarea.second").val().split("\n").length;
            percent = (firstLines / secondLines) * 100;

            firstWords = $.trim($('textarea.first').val()).split(' ').length;
            secondWords = $.trim($('textarea.second').val()).split(' ').length;
            percent = (firstWords / secondWords) * 100;

            percent = Math.round(((firstLines + firstWords) / (secondLines + secondWords)) * 100);

            if (percent > 100) {
                percent = 100;
            }

            $('i.translated').text(percent);
            $('.bar-percents').css('width', percent + '%');
        }

        $('textarea').typing({
            start: null,
            stop: function (event, $elem) {
                calculate();
            },
            delay: 600
        });

        calculate();
    });
</script>
{% endblock %}